h1{
    //color: #16b21c;
}

body {
    //background-color: #16b21c;
    font-family: Arial;
}

header {
    //background-color: #16b21c;
}

.btn-primary {
    background-color: #70A1EB;
    border: 1px solid #70A1EB;
}

.panel {
    margin: 0px;
}
.panel-primary{
     border: 1px solid #70A1EB;
 }

.panel-primary .panel-heading {
    background-color: #70A1EB;
    border: 1px solid #70A1EB;
}

.panel-primary .panel-heading h4 a {
    color: white;
}
nav {
    padding-top: 25px;
}

#rules {
    background-color: #70A1EB;
    color: white;
}
#rules li{
    font-size: 20px;
}

#rules li a {
    color: white;
}

.jumbotron {
    padding: 10px;
    background-color: #70A1EB;
    color: white;
}

.errorlist {
    background-color: #f44336;
    padding: 5px;
    color: white;
}

#account_reviews {
    padding-top: 20px;
}

#add_review {
    padding-top: 50px;
}

thead {
    background-color: #70A1EB;
    color: white;
}

#home-buttons div a{
    font-size: 25px;
}

.active {
    background-color: #70A1EB;
    color: white;
}

.dashboard .module table th {
    width: 100%;
}
