{% load static %}
{% load staticfiles %}
<HTML>
    <head>
        <title>Summer Reading Challenge Account</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/summer_reading.css' %}">
    </head>
    <body>
        <header class="container">
            <div class="col-sm-8"><img src="{% static 'summer_reading/gpl_logo.jpg' %}"/></div>
            <nav class="text-right">
                <p class="col-sm-1">Hi, {{ user.first_name }}!</p>
                <p class="col-sm-2"><a href="{% url 'home-page' %}">Home</a> | <a href="{% url 'auth_logout' %}">Log Out</a></p>
            </nav>
        </header>
        <section class="container">
            <div class="row">
                <div id="add_review" class="col-sm-3"><a href="{% url 'add-review' %}" class='btn btn-success' style="font-size: 25px;">Add a new review</a></div>
            </div>
            <div id="account_reviews" class="row">
                <table class="table table-striped">
                    <thead><tr><td><h4>Your reviews:</h4></td></tr></thead>
                    {% for review in reviews %}
                        <tr><td><a href="{% url 'review' review.id %}">{{ review.title }} by {{ review.author }}</a></td></tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </body>
</head>
