<HTML>
    <head>
        <title>User Log In</title>
    </head>
    <body>
        <p>
            <div align="left"><a href="{% url 'home-page' %}">Home</a></div>
            <div align="right"><a href="{% url 'user-registration %}">Sign Up</a></div>
        <p>
        <div>
            <form id="login_form" method="POST" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button form="login_form" type="submit">Log In</button>
            </form>
        </div>
    </body>
</HTML>
