{% load static %}
{% load staticfiles %}
<HTML>
    <head>
        <title>Summer Reading Challenge Announcements</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/summer_reading.css' %}">
    </head>
    <body>
        <header class="container">
            <div class="row">
                    <div class="col-sm-8"><img src="{% static 'summer_reading/gpl_logo.jpg' %}"/></div>
                <nav>
                    {% if user.is_authenticated %}
                        <p class="col-sm-1 text-right"><a href="{% url 'home-page' %}">Home</a></p>
                        <p class="col-sm-1 text-right">Hi, {{ user.first_name }}!</p>
                        <p class="col-sm-2 text-right"><a href="{% url 'user-account' %}">My Account</a> | <a href="{% url 'auth_logout' %}">Log Out</a></p>
                    {% else %}
                        <p class="col-sm-1"></p>
                        <p class="col-sm-1 text-right"><a href="{% url 'home-page' %}" class='btn btn-primary'>Home</a></p>
                        <p class="col-sm-1 text-right"><a href="{% url 'user-registration' %}" class='btn btn-primary'>Sign Up</a></p>
                        <p class="col-sm-1 text-right"><a href="{% url 'auth_logout' %}" class='btn btn-primary'>Log In</a></p>
                    {% endif %}
                </nav>
            </div>
        </header>
        <section class="container">
            <div class="row" style="height:30px;"></div>
        </section>
        <section class="container">
            <div class="row">
                {% for object in page.object_list %}
                    <div class="panel panel-primary">
                        <div class="panel panel-heading">
                                <h4><a href="{% url 'public-review' object.id %}">Review of {{ object.title }}</a></h4>
                            <p class="caption">By {{ object.author }}</p>
                        </div>
                        <div class="panel panel-body">{{ object.review|safe|truncatewords:200 }}{% if object.review|safe|wordcount > 200 %}<a href="{% url 'public-review' object.id %}"> Read More</a>{% endif %}</div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <footer class="container">
            <div class="row text-right">
                    {% if page.paginator.num_pages > 1 %}
                        {% load paginator %}
                        {% paginator 2 %}
                    {% endif %}
            </div>
        </footer>
    </body>
</HTML>
