{% load static %}
{% load staticfiles %}
<HTML>
    <head>
        <title>Summer Reading Challenge Homepage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/summer_reading.css' %}">
    </head>
    <body>
        <header class="container">
            <div class="row">
                    <div class="{% if user.is_authenticated %}col-sm-9{% else %}col-sm-10{% endif %}"><img src="{% static 'summer_reading/gpl_logo.jpg' %}"/></div>
                <nav id="home_nav" class="text-right">
                        {% if user.is_authenticated %}
                            <p class="col-sm-1 text-right">Hi, {{ user.first_name }}!</p>
                            <p class="col-sm-2 text-left"><a href="{% url 'user-account' %}">My Account</a> | <a href="{% url 'auth_logout' %}">Log Out</a></p>
                        {% else %}
                            <p class="col-sm-1"><a href="{% url 'user-registration' %}" class="btn btn-primary">Sign Up</a></p>
                            <p class="col-sm-1"><a href="{% url 'auth_login' %}" class="btn btn-primary">Log In</a></p>
                        {% endif %}
                </nav>
            </div>
        </header>
        <section class="jumbotron">
            <div class="row text-center">
                    <h1>Your Summer Reading Challenge<br/>Starts Here!</h1>
            </div>
            <div class="row" style="height:30px;"></div>
            <div class="row" id="home-buttons">
                {% if user.is_authenticated %}
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2 text-right"><a href="{% url 'add-review' %}" class="btn btn-success">Add a Review</a></div>
                    <div class="col-sm-2 text-center"><a href="https://greenburghlibrary.libcal.com/calendar/Libraryevents/?cid=7925&t=d&d=0000-00-00&cal=7925&ct=35090" class="btn btn-success" target="_blank">Calendar</a></div>
                    <div class="col-sm-2 text-left"><a href="{{ STATIC_URL }}/gpl_logo.jpg" class="btn btn-success" target="_blank">Events</a></div>
                    <div class="col-sm-3"></div>
                {% else %}
                    <div class="col-sm-3 text-center"><a href="{% url 'user-registration' %}" class='btn btn-success'>Sign Up</a></div>
                    <div class="col-sm-3 text-center"><a href="{% url 'auth_login' %}" class="btn btn-success">Log In</a></div>
                    <div class="col-sm-3 text-center"><a href="https://greenburghlibrary.libcal.com/calendar/Libraryevents/?cid=7925&t=d&d=0000-00-00&cal=7925&ct=35090" class="btn btn-success" target="_blank">Calendar</a></div>
                    <div class="col-sm-3 text-center"><a href="{% static 'summer_reading/2018_events.pdf' %}" class="btn btn-success" target="_blank">Events</a></div>
                {% endif %}
            </div>
        </section>
        <section class="container">
            <div class="row">
                <div id="rules" class="col-sm-4 text-left">
                    {{ rules.content|safe }}
                </div>
                <div class="col-sm-1"></div>
                {% if announcements %}
                    <div id="announcements" class="col-sm-3 text-left">
                        <div class="panel panel-primary">
                            <div class="panel panel-heading">
                                <h3>Recent Announcements:</h3>
                            </div>
                            <div class="panel panel-body">
                                {% for announcement in announcements %}
                                    <h4><a href="{% url 'announcement' announcement.id %}">{{ announcement.title }}</a></h4>
                                    <p>posted by {{ announcement.name }}</p>
                                    {{ announcement.announcement|safe|truncatewords:30 }} {% if announcement.announcement|safe|wordcount > 30 %}<a href="{% url 'announcement' announcement.id %}">Read more <i class="fa fa-angle-right"></i></a>{% endif %}
                                    {% if not forloop.last %}
                                        <hr/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="panel panel-footer text-right">
                                <a href="{% url 'announcements' %}">All announcements <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-sm-1"></div>
                {% if reviews %}
                    <div id="homepage_reviews" class="col-sm-3 text-left">
                        <div class="panel panel-primary">
                            <div class="panel panel-heading">
                                <h3>Recent Reviews:</h3>
                            </div>
                            <div class="panel panel-body"> 
                            {% for review in reviews %}
                                <h4><a href="{% url 'public-review' review.id %}">{{ review.title }}</a></h4>
                                <p>by {{ review.author }}</p>
                                {{ review.review|safe|truncatewords:30 }} {% if review.review|safe|wordcount > 30 %}<a href="{% url 'public-review' review.id %}">Read more <i class="fa fa-angle-right"></i></a>{% endif %}
                                {% if not forloop.last %}
                                    <hr/>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <div class="panel panel-footer text-right">
                                <a href="{% url 'public-reviews' %}">All reviews <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>  
            {% endif %}
        </section>
    </body>
</HTML>
