<HTML>
    <head>
        <title>User Sign Up</title>
        {{ form.media.css }}
    </head>
    <body>
    <div align="right"><a href="{% url 'auth_login' %}">Log In</a></div>
        <div>
            <div><h4>Summer Reading User Sign Up</h4></div>
            <div>
                <form id="new_user_form" method="post" novalidate>
                    {% csrf_token %}
                    <div>
                        <div>Contact Information</div>
                        <div>
                            {% if form_errors %}
                                <div>
                                    <div>
                                        <div>
                                            <ul>
                                                {% for field, errors in form_errors %}
                                                    <li><strong>{{ field }}</strong>{% for error in errors %} - {{ error }}{% endfor %}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {{ form }}
			    <button form="new_user_form" type="submit">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {{ form.media.js }}
    </body>
</HTML>
